<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h2>My Urls</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Short URL</th>
          <th scope="col">Long URL</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let url in urls) { %>
          <tr>
            <td><%= url %></td>
            <td><%= urls[url] %></td>
            <td>
              <form mothod="POST" action="/delete/<%= url %>">
                <input type="submit" value="Delete">
              </form>
            </td>
            
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
